<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta tags -->
<title>旅行者</title>
<meta name="keywords" content="" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- stylesheets -->
<link rel="stylesheet" href="../sy/css/bootstrap.min.css">
<link rel="stylesheet" href="../sy/css/font-awesome.css">
<link rel="stylesheet" href="../sy/css/flexslider.css" type="text/css" media="screen" /> <!-- Testimonials js-->
<link rel="stylesheet" href="../sy/css/easy-responsive-tabs.css">
<link rel="stylesheet" href="../sy/css/chocolat.css" type="text/css">
<link rel="stylesheet" href="../sy/css/style.css">

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900" rel="stylesheet">  
</head>
<body>
<div class="agile-banner">
	<nav class="navbar w3-navbar">
		<div class="navigation-overlay">
			<div class="container-fluid">
				<div class="row">

					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>

					  <!-- Logo -->
					  <div class="logo-container">
						<div class="logo-wrap">
						  <a href="#home" class="scroll">
							旅行者<span>LXZ</span>
						  </a>
						</div>
					  </div>
					</div> <!-- end navbar-header -->


					<div class="col-md-8 col-xs-12 nav-wrap">
						<div class="collapse text-center navbar-collapse w3ls-nav" id="navbar-collapse">

							<ul class="nav navbar-nav w3ls-nav1 text-center">

								<li class="active">
									<a href="#home" class="scroll">主页</a>
								</li>
								<li>
									<a href="#about" class="scroll">关于</a>
								</li>
								<li>
									<a href="#service" class="scroll">服务</a>
								</li>
								<li>
									<a href="#gallery" class="scroll">价格指导</a>
								</li>
								<li>
									<a href="#testimon" class="scroll">顾客评论</a>
								</li>
								<!--<li>
									<a href="#contact" class="scroll">Contact</a>
								</li>-->

							</ul>
					  </div>
					</div> <!-- end col -->

					<!--<div class="w3-socials w3-hide">
						<ul>
							<li>
								<a href="#"><span class="fa fa-facebook"></span></a>
							</li>
							<li>
								<a href="#"><span class="fa fa-linkedin"></span></a>
							</li>
							<li>
								<a href="#"><span class="fa fa-twitter"></span></a>
							</li>
						</ul>
					</div>-->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</div> <!-- end navigation -->
	</nav> <!-- end navbar -->

	<div class="heading">
		<h1>快速安全的出行方式</h1>
	</div>

</div>
<!-- About us -->
<div class="w3ls-about" id="about">
	<h3 class="center">关于我们</h3>
	<div class="layer">
	<div class="container">
		<h2>我们是最受欢迎和最出色的旅行服务提供商。</h2>
		<p>您可以通过我们的服务找到最舒适，最安全的旅程。</p>
		<div class="details">

			<div class="details-list">
				<ul class="about-list">
					<li>
						<span class="fa fa-long-arrow-right" aria-hidden="true"></span>
						<h6>最低价</h6>
						<p>让你了解最低的价格</P>
					</li>
					<li>
						<span class="fa fa-long-arrow-right" aria-hidden="true"></span>
						<h6>快速旅行</h6>
						<p>让你能够"飞到"目的地</P>
					</li>
					<li>
						<span class="fa fa-long-arrow-right" aria-hidden="true"></span>
						<h6>安全旅途</h6>
						<p>让你享受最安全的服务</P>
					</li>
				</ul><br>
				<!--<a href="#" data-toggle="modal" data-target="#myModal1">了解更多</a>-->
				<!-- bootstrap-pop-up -->
				<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" >
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								关于旅行者
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
							</div>
							<section>
								<div class="modal-body">
									<img src="../sy/images/testimon5.jpg" alt=" " class="img-responsive" />
										<h4>我们的产品:</h4><br>
											跟团游：包括周边短线游、国内长线、出境游，行程透明、质量可靠。<br>
											自助游：海岛、港澳、三亚、丽江、九寨沟等既有国内外自助游套餐亦可单订某项产品或任意搭配组合。<br>
											公司旅游定制服务：针对您个性化需求为您量身定制个性化的旅游产品。<br>
								</div>
							</section>
						</div>
					</div>
				</div>
				<!-- //bootstrap-pop-up -->
			</div>
		</div>
	</div>
	</div><!-- layer ends -->
</div>
<!-- //About us -->
<!-- Services -->
<div class="agile-services" id="service">
	<h3 class="center">Our Services</h3>
	<div class="container">
		<div class="service-list">
			<ul class="service1">
				<li>
					<span class="fa fa-space-shuttle" aria-hidden="true"></span>
					<h4>tourism places</h4>
				</li>
				<li>
					<span class="fa fa-tripadvisor" aria-hidden="true"></span>
					<h4>holiday spots</h4>
				</li>
				<li>
					<span class="fa fa-modx" aria-hidden="true"></span>
					<h4>honeymoon places</h4>
				</li>
				<li>
					<span class="fa fa-empire" aria-hidden="true"></span>
					<h4>pilgrimage places</h4>
				</li>
				<li>
					<span class="fa fa-linux" aria-hidden="true"></span>
					<h4>kids places</h4>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- //Services -->
<!-- Gallery chocolat -->
<div class="w3ls-galley" id="gallery">
	<div class="container">
		<h3 class="center">Our Price Index</h3>
		<div class="chocolat-parent" id="parentHorizontalTab" data-chocolat-title="Go-Fly Services">
			<ul class="resp-tabs-list hor_1">
						<li><a href="#tab1" class="tabs"><span>All</span></a></li>
						<li><a href="#tab2" class="tabs"><span>Tourism</span></a></li>
						<li><a href="#tab3" class="tabs"><span>Honeymoon</span></a></li>
						<li><a href="#tab4" class="tabs"><span>Pilgrimage</span></a></li>
			</ul>
			<div class="resp-tabs-container hor_1">
				<!-- Tab-1 -->
				
				<div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/holy.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/holy.jpg" />
						</a>
						<h4 class="price"> 105 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">了解一下</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/taaj.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/taaj.jpg" />
						</a>
						<h4 class="price"> 75 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/rome1.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/rome1.jpg"/>
						</a>
						<h4 class="price"> 125 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>			
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/paris.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/paris.jpg"/>
						</a>
						<h4 class="price"> 95 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour.jpg"/>
						</a>
						<h4 class="price"> 65 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour2.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour2.jpg"/>
						</a>
						<h4 class="price"> 90 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/london.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/london.jpg"/>
						</a>
						<h4 class="price"> 115 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour3.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour3.jpg"/>
						</a>
						<h4 class="price"> 85 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- //tab-1 -->
				<!-- tab-2 -->
				<div>
				
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour.jpg" />
						</a>
						<h4 class="price"> 65 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/taaj.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/taaj.jpg" />
						</a>
						<h4 class="price"> 75 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour2.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour2.jpg"/>
						</a>
						<h4 class="price"> 90 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour3.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour3.jpg"/>
						</a> 
						<h4 class="price"> 85 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- //tab-2 -->
				<!-- tab-3 -->
				<div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/paris.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/paris.jpg" />
						</a>
						<h4 class="price"> 95 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/london.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/london.jpg" />
						</a>
						<h4 class="price"> 115 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/rome1.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/rome1.jpg"/>
						</a>
						<h4 class="price"> 125 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour2.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour2.jpg"/>
						</a>
						<h4 class="price"> 90 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- //tab-3 -->
				<!-- tab-4 -->
				<div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/holy.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/holy.jpg" />
						</a>
						<h4 class="price"> 105 $ / 1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/rome1.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/rome1.jpg" />
						</a>
						<h4 class="price"> 125 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/taaj.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/taaj.jpg"/>
						</a> 
						<h4 class="price"> 75 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 taba">
						<a class="chocolat-image" href="../sy/images/tour2.jpg" title="Go-Fly Services">
							<img class="img-responsive" alt="image" src="../sy/images/tour2.jpg"/>
						</a> 
						<h4 class="price"> 90 $ /1 Person </h4>
						<p>It was popularised in the 60s with the release of Letraset sheets containing Lorem Ipsum passages and more</p>
						<a href="#contact" class="register scroll">Request Details</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- //tab-4 -->
			</div> <!-- container end-->
		</div>
	</div>
</div>
<!-- //Gallery -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!-- our guides -->
<div class="w3-guides" id="guide">
	<div class="container">
		<h3 class="text-center">我们的导游</h3>
		<div class="guide-grids">
			<div class="col-md-3 col-sm-6 col-xs-6 guide1">
				<img src="../sy/images/g11.jpg" alt="guide1" class="img-responsive">
				<h4>胖虎</h4>
				<p class="designation">导游</p>
				<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
				<div class="social-wthree-icons bnragile-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 guide2">
				<img src="../sy/images/g22.jpg" alt="guide2" class="img-responsive">
				<h4>静香</h4>
				<p class="designation">导游</p>
				<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
				<div class="social-wthree-icons bnragile-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 guide3">
				<img src="../sy/images/g33.jpg" alt="guide3" class="img-responsive">
				<h4></h4>
				<p class="designation">Lorem Ipsum</p>
				<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
				<div class="social-wthree-icons bnragile-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 guide4">
				<img src="../sy/images/g44.jpg" alt="guide4" class="img-responsive">
				<h4>Jennifer Snow</h4>
				<p class="designation">Lorem Ipsum</p>
				<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there is embarrassing.</p>
				<div class="social-wthree-icons bnragile-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
			</div>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //our guides -->
<!-- testimonials -->
<div class="w3ls-testimons" id="testimon">
<h3 class="text-center">Customer Reviews</h3>
<div class="flexslider-info">
	<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="user-review">
						<div class="user-place">
							<img src="../sy/images/testimon1.jpg" alt="testimon1" class="img-responsive">
						</div>
						<div class="user-comment">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
							<div class="user-img">
								<img src="../sy/images/u1.jpg" alt="user1" class="img-responsive">
								<div class="user-txt">	
									<h4>Emma Stone</h4>
									<p>Traveller</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="user-review">
						<div class="user-place">
							<img src="../sy/images/testimon2.jpg" alt="testimon2" class="img-responsive">
						</div>
						<div class="user-comment">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
							<div class="user-img">
								<img src="../sy/images/u3.jpg" alt="user2" class="img-responsive">
								<div class="user-txt">	
									<h4>Luis Harris</h4>
									<p>Fashion Designer</p>
								</div>	
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="user-review">
						<div class="user-place">
							<img src="../sy/images/testimon3.jpg" alt="testimon3" class="img-responsive">
						</div>
						<div class="user-comment">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
							<div class="user-img">
								<img src="../sy/images/u2.jpg" alt="user3" class="img-responsive">
								<div class="user-txt">	
									<h4>Jennifer Lawrence</h4>
									<p>marketing Executive</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div><div class="clearfix"> </div>
	</section>
</div><div class="clearfix"> </div>
</div>
<!-- //testimonials -->
<!-- Map -->
<!--<div class="w3-map">
	<h3 class="text-center">Locate Us</h3>
	<iframe src=""  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>-->
<!-- //Map -->
<!-- contact -->
<div class="wthree-contact" id="contact">
	<div class="container contact">
		<div class="part1">
			<h3>Contact</h3>
			<h5>Email:</h5>
			<a href="mailto:contact@company.com">contact@traveller.com</a>
			<a href="mailto:enquiry@company.com">enquiry@traveller.com</a>
			<h5>Address:</h5>
			<p>94117, Green Hills</p>
			<p>San Francisco</p>
			<p>U S A</p>
			<h5>Phone:</h5>
			<P>+1 284-251-0639</P>
			<ul class="contact-icons">
				<li><a href="#"><span class="fa fa-facebook"></a></li>
				<li><a href="#"><span class="fa fa-twitter"></a></li>
				<li><a href="#"><span class="fa fa-behance"></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></a></li>
			</ul>
		</div>
		<div class="part2">
			<h4>Submit Your Query</h4>
			<form action="/" method="post">
				<input type="text" name="name" placeholder="Your Name" required>
				<input type="email" name="email" placeholder="Your E-mail" required>
				<textarea name="message" rows="5" cols="20" placeholder="Message"></textarea>
				<input type="submit" value="send">

			</form>
		</div>
	</div>
</div>
<!-- //contact -->



<!-- copyright -->
<!--<div class="agileits-w3layouts">
	<div class="container">
		<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	</div>
</div>-->
<!-- //copyright -->
<!-- scripts -->
<script src="../sy/js/jquery.min.js"></script>
<script src="../sy/js/bootstrap.min.js"></script>
<script src="../sy/js/easyResponsiveTabs.js"></script>
<script type="text/javascript" src="../sy/js/jquery.chocolat.js"></script>
	<!-- Script chocolat -->
<script>
	$(document).ready(function(){
		$('.chocolat-parent').Chocolat();
	});
</script>
<!-- //Script chocolat -->
<!-- script responsive tabs -->
  <script type="text/javascript">
$(document).ready(function () {

	$('#parentHorizontalTab').easyResponsiveTabs({
		type: 'default', //Types: default, vertical, accordion
		width: 'auto', //auto or any width like 600px
		fit: true, // 100% fit in a container
		closed: 'accordion', // Start closed if in accordion view
		tabidentify: 'hor_1', // The tab groups identifier
		activate: function (event) { // Callback function if tab is switched
			var $tab = $(this);
			var $info = $('#nested-tabInfo');
			var $name = $('span', $info);

			$name.text($tab.text());

			$info.show();
		}
	});


});
</script>
<!-- //script responsive tabs -->

<script src="../sy/js/jquery.flexslider.js"></script>

<!--Start-slider-script-->
<script type="text/javascript">

$(window).load(function(){
	$('.flexslider').flexslider({
	animation: "slide",
	start: function(slider){
		$('body').removeClass('loading');
	}
	});
});
</script>

<!--End-slider-script-->
<!-- //for-Testimonials -->
<!-- smooth scrolling -->
<script src="../sy/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="../sy/js/move-top.js"></script>
<script type="text/javascript" src="../sy/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

		});
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
<!-- //scrolling script -->

</body>
</html>
